[submodule "Phase-1-Practices/Week-1/week1-vietteldigitaltalent"]
	path = Phase-1-Practices/Week-1/week1-vietteldigitaltalent
	url = https://github.com/toanduc0671/week1-vietteldigitaltalent
[submodule "Phase-1-Practices/Week-1/NguyenDucToan-week1"]
	path = Phase-1-Practices/Week-1/NguyenDucToan-week1
	url = https://github.com/toanduc0671/NguyenDucToan-week1
[submodule "Phase-1-Practices/Week-1/NguyenDucToan_week1"]
	path = Phase-1-Practices/Week-1/NguyenDucToan_week1
	url = https://github.com/toanduc0671/NguyenDucToan_week1
[submodule "Phase-1-Practices/Week-2/NguyenDucToan_week2"]
	path = Phase-1-Practices/Week-2/NguyenDucToan_week2
	url = https://github.com/toanduc0671/NguyenDucToan_week2
